body {
    background-color: white;
    font: bold 20px consolas;

}

h3 {
    color: blue;
    margin-left: 30px;
    font: bold 40px consolas;
    text-align: center;
}

hr {
    border: 5px solid blue;
}

input {
    color: rgb(75, 42, 165);
    font-size: 15px;
}

button {
    color: brown;
    font-size: 15px;
}

a {
    font-family: monospace;
    font-size: 15px;
    color: brown
}

input[type="text"] {
    color: brown;
    background-color: beige
}

input[type="password"] {
    color: brown;
    background-color: beige
}


div.box {
    background: greenyellow;
    border-style: solid;
    border-radius: 30px;
    border-color: rgb(94, 60, 27);
    text-align: center;
    margin: 100px;
    border-width: 30px;
    padding: 100px;
}

div.box2 {
    width: 90%;
    height: 700px;
    border-style: solid;
    border-radius: 30px;
    border-color: rgb(94, 60, 27);
    text-align: center;
    margin: 10px;
    border-width: 30px;
    padding: 0px;
}

div.box-inner {
    background: rgb(224, 231, 124);
    border-radius: 50px;
    border-style: dotted;
    border-color: rgb(255, 128, 0);
    text-align: center;
    margin: 40px;
    border-width: 10px;
    padding: 20px;
}


div.box-2 {
    background: beige;
    border-radius: 50px;
    border-style: dotted;
    border-color: brown;
    text-align: center;
    margin: 40px;
    border-width: 10px;
    padding: 20px;
}


table {
    /* 이중 테두리 제거 */
    border-collapse: collapse;
}

td,
th {
    /* 모든 셀에 적용 */
    text-align: center;
    padding: 5px;
    height: 15px;
    width: 100px;
}

thead,
tfoot {
    /* <thead>의 모든 셀에 적용 */
    background: rgb(94, 60, 27);
    color: beige;
}

tbody tr:nth-child(even) {
    /* 짝수 <tr>에 적용*/
    background: rgb(243, 243, 216);
}

tbody tr:hover {
    /* 마우스가 올라오면 pink 배경 */
    background: greenyellow;
}

#menubar {
    background: rgb(94, 60, 27);
}

#menubar ul {
    /* 여백과 패딩 모두 0 */
    margin: 0;
    padding: 0;
    width: 100%;
    /* 모든 아이템(<li>)을 한 줄에 품을 수 있는 폭 */
}

#menubar ul li {
    display: inline-block;
    /* 새 줄로 넘어가지 않게 */
    list-style-type: none;
    /* 마커 삭제 */
    padding: 10px 50px;
    /* top=bottom=0, left=right=15px */
}

#menubar ul li a {
    color: white;
    text-decoration: none;
    /* 링크 보이지 않게 */
}

#menubar ul li a:hover {
    color: burlywood;
    /* 마우스 올라 갈 때 색 */
}